/*статусы исполнителя*/
.user-status-ready {
    color: rgb(0, 220, 0);
    text-shadow: 
    0.05rem 0.05rem 0.1rem white,
    0 0 0.75rem rgb(61, 255, 61),
    0 0 1rem white;
    font-weight: bolder;
}
.user-status-process {
    color: orange;
    font-weight: bolder;
    text-shadow: 
    0.05rem 0.05rem 0.1rem white,
    0 0 0.75rem orange,
    0 0 1rem white;
}
.user-status-non-ready {
    color: rgb(248, 70, 70);
    text-shadow: 
    0.05rem 0.05rem 0.1rem white,
    0 0 0.75rem rgb(255, 64, 64),
    0 0 1rem white;
    font-weight: bolder;
}
link:hover {
    background-color: var(--color-theme);
}