.task-table {
    width: 100%;
    background-color: white;
}


/*строки*/
.task-table tr{border-bottom: 1px solid lightgray;}

/*ячейки*/
.task-table td{
    padding: 1rem;
    border-right: 1px solid lightgray;
}
/*первые ячейки строк*/
.task-table td:first-child{
    border-left: 1px solid lightgray;
}
/*строка темы*/
.task-table td:nth-child(2){width: 30%;}


/*заголовки*/
.task-table tr:first-child td{border-right: 1px solid rgb(180, 180, 180);}
/*последний заголовок*/
.task-table tr:first-child td:last-child{border-right: none;}