.bg-theme {background-color:rgb(235, 240, 250);}
.bg-dark-theme {background-color: rgb(43, 114, 202);}

.color-theme {color:rgb(64, 88, 83);}
.color-lighter-theme {color:rgb(43, 114, 202);}
.color-light-theme {color:rgb(244, 247, 252);}