* {
    --color-theme: rgb(64, 88, 83);
    --color-lighter-theme: rgb(43, 114, 202);
    --color-lighter-2-theme: rgb(90, 137, 194);
    --color-light-theme: rgb(244, 247, 252);
    --color-grey-theme: rgb(180, 180, 180);
}

.bg-theme {
    background-color: var(--color-light-theme);
}
.bg-dark-theme {
    background-color: var(--color-lighter-theme);
}
.bg-darkest-theme {
    background-color: var(--color-theme);
}

.color-theme {
    color: var(--color-theme);
}
.color-lighter-theme {
    color: var(--color-lighter-theme);
}
.color-light-theme {
    color: var(--color-light-theme);
}

.border-theme {
    border: 1px solid var(--color-theme);
}

/*кнопки*/
.button-theme {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    color: var(--color-light-theme);
    background-color: var(--color-lighter-theme);
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.button-theme:hover {
    background-color: var(--color-theme);
}
.button-theme:active {
    box-shadow: 0 0.1rem 0.5rem var(--color-lighter-theme);
}
.button-theme:disabled {
    opacity: 0.75;
}

